* {
  margin: 0;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  color: rgba(230, 135, 180, 1);
}

.gallery-container {
  margin-right: auto;
  margin-left: auto;
}

.grey-background {
    background-color: rgba(0,0,0,0.2);
    height: 188vh;
    width: 100vw;
    position: fixed;
    z-index: 1;
}

.portfolio-body {
  height: 10vh;
}

.main{
  z-index: 1;
  height: 100vh;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  padding: 200px 70px 0 70px;
}

.image-ul {
  list-style-type: none;
  padding-left: 0px;
}

.image-list {
  max-height: 325px;
  height: 300px;
  width: calc(90%);
  margin-right: auto;
  margin-left: auto;
  max-width: 400px;
}

.hide {
  display: none;
}

.image-wrap {
  text-decoration: none;
  width: calc(90%);
  margin: 20px auto 15px auto;
  z-index: -3;
}

.image-item {
  height: 275px;
  background-position: center;
  background-size: cover;
  margin-right: auto;
  margin-left: auto;
}

.gallery-wrapper {
  text-align:center;
  height: 1000px;
}

.card-wrap{
  background-color: transparent;
  perspective: 1000px;
  height: 250px;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.card-inner{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0px 15px 20px -15px rgba(0, 0, 0, 0.2), 0px 10px 10px rgba(0, 0, 0, 0.20);
}

.card-wrap:hover .card-inner{
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-front {
  position: absolute;
  background-color: #ffffff;
  text-align: center;
}

.card-back {
  position: absolute;
  transform: rotateY(180deg);
  vertical-align: middle;
}

.card-front, .card-back, .card-inner {
  display:table;
}

.card-title {
  color: rgba(180,170,221,1);
  font-weight: 500;
  font-size: 14px;
  width: 80%;
  margin: 50px auto 0 auto;
  letter-spacing: 2px;
}

.card-snippet{
  color: rgba(180,170,221,1);
  font-weight: 100;
  width: 70%;
  font-size: 14px;
  margin-right: auto;
  margin-left: auto;
  margin: 30px auto 0 auto;
  letter-spacing: 2px;
}

.hr-line {
  background: linear-gradient(to right, rgba(180,170,221,0), rgba(180,170,221,1), rgba(180,170,221,0));
  border: none;
  height: 1px;
  margin: 20px auto 0px auto;
  width: 70%;
}

.card-animation{
  animation-name: card-animation;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-duration: 1.5s;
}

@keyframes card-animation{
  0% {transform: translateY(100px);
      opacity: 0;}
  100% {transform: translateY(0px);
      opacity:1;
  }
}

@media screen and (max-width: 768px){
  .main{
    padding: 100px 15px 0 15px;
  }
}

@media screen and (max-width: 576px){
  .main{
    padding: 100px 0 0 0;
  }
}